<a class="sensor-box" href="<%= sensor.href %>">
    <h2><%= sensor.title %></h2>
    <p class="sensor-description"><%= sensor.description %></p>
    <div class="sensor-value" id="<%= sensor.valueId %>">Loading...</div>
    <button class="view-sensor-data-button" data-sensor="<%= sensor.dataAttribute %>">View <%= sensor.dataValue %> Data</button>
</a>